/* font-add */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-font{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* univarsal Css */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1600px;
    margin: auto;
}
/* Shared Css */
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.primary-bg{
    background:#FFF8F3;
}
.text-primary{
    color:#FD6E0A;
}
.primary-dark{
    color:#181818;
}
.secondary-dark{
    color:#757575;
}

.btn-primary{
    /* width: 150px;
    height: 64px; */
    padding: 20px 50px;
    background:#FD6E0A;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
    color:#757575;
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
}

/* Header style start */
.header{
   background-image: url("../images/header_bg.png");
   background-repeat: no-repeat;
   background-position:bottom right;
   position: relative;

}
.developer-image {
    position: absolute;
    top: 35px;
    left: 50px;
}
.header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 230px;
    align-items: center;
    padding: 50px 0;
}
.header nav .header-logo{}
.header nav .header-logo h1{
    font-size: 45px;
    font-weight: 800;
}
.header nav .header-logo h1 span{}
.header nav .header-menu{}
.header nav .header-menu ul{
    display: flex;
    gap: 55px;
    align-items: center;
}
.header nav .header-menu ul li{
    list-style: none;
}
.header nav .header-menu ul li a{
    text-decoration: none;
    color:#474747;
    font-size: 20px;
}
/* banner-section-style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 230px;
    margin-right: 30px;
    margin-top: 20px;
}
.banner-content{
    width: 585px;
   
}
.banner-content .banner-greetings{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
}
.banner-content .banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 30px;
}
.banner-content .banner-description{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}

.banner-image{}
.banner-image img{
    width: 584px;
    height: 676px;
    margin-bottom: -4px;
    
}
.banner-btn{
    margin-right: 20px;
}
.banner-btn .btn-secondary{
    padding: 20px 50px;
    background: transparent;
    border: 1px solid #FD6E0A;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}


/* Header style end */

/* main-section-css */
main{
    width: 1140px;
    margin: 0 auto;
}

/* about css start */
.about{
    background: #FFF8F3;
    padding: 130px 155px;
    margin: 100px 0;
    border-radius: 10px; 
}
.about-inner-content{
    background: #fff;
    border: 1px solid #000;
}
 .about-information{
    display: flex;
    justify-content: space-around;
}.about-information .information{
    text-align: center;
}
.about-information .inform-title{
    font-size: 20px;
    margin-bottom: 5px;
    color:#757575;
    
}
 .about-information .inform-data{
    font-size: 20px;
    color:#474747;
}

/* What i do section start */
.what-i-do{
    margin: 130px 0;
}
.what-i-do-desc{
    width: 909px;
    margin: auto;

}

.skills{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.skill{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skill-image img{
    margin-bottom: 20px;
}
.skill-title h3{
    font-size: 20px;
    font-weight: bold;
}
.skill-description p{
    color:#757575;
    font-size: 16px;
    line-height: 28px;
}

/* resume style */
.resume{
    margin: 130px 0;
}
.resume-edu-exp{
    margin-top: 130px;
    display: flex;
    gap: 24px;
}
.education{}
.education > hr{
     margin: 30px 0;
     border-top: 1px solid #D1D1D1;
}
.education-title h2{
    font-size: 30px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 30px;
}
.edu-explain{
   
}
.edu-explain h3{
    color:#474747;
    font-size: 25px;
    font-weight: bold;
}
.edu-explain p{
    font-size: 20px;
    font-weight: 600;
    color:#474747;
    margin-top: 10px;
    margin-bottom: 20px;
}
.edu-description p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    font-weight: 400;
}

.resume-btn{
    margin-top: 40px;
}

/* footer-section-style */
.footer-area{
    padding:130px 230px;
    background: #FFF8F3;
}
/* .footer-container{
    width: 1140px;
    margin: 0 auto;
} */
 .footer-container{
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */
 }
 .footer-left-content .footer-title{
    margin-bottom: 30px;
 }
 .footer-right-area .footer-title{
    margin-bottom: 30px;
 }
 .footer-left-area{
    width: 50%;
 }
 .footer-left-area p{
    color: #474747;
    line-height: 28px;
    margin: 30px 0;
    font-weight: 400;
    width: 562px;
 }
 .footer-left-area .footer-social-menu{}
 .footer-left-area .footer-social-menu ul{
    display: flex;
    gap: 30px;
 }
 .footer-left-area .footer-social-menu ul li{
    list-style: none;
 }
 .footer-right-area{
    width: 50%;
 }
 .footer-right-area form{}
 .footer-right-area form input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    padding:25px 20px;
    outline: none;

 }
 .footer-right-area form textarea{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    padding:25px 20px;
    outline: none;
    margin-bottom: 30px;

 }